/*main-body*/
body{
	background-color: skyblue;
/*	font-family: courier, monospace;*/
	font-family: 'Smooch Sans', sans-serif;
	letter-spacing: 5px;
	padding:0;
	margin:0;
}

/*paragraph*/
p{
	color: darkcyan;
	background-color: whitesmoke;
	font-size: 20px;
	text-align: justify;
	margin: 10px;
}

h2{
	color:	orange;
	background-color: palegreen;
	font-size: 35px;
}

img{
	width: 100%;
	height: 300px;
	object-fit: cover;
}

img:hover{
	height: 500px;
	transition: 1s;
}

/* DEFINE a ID by using # / ID just one single element */
/* #ID{ */
#ID{
	border: 10px solid lemonchiffon;
	padding:20px;
	background-color: blanchedalmond;
/*	Overline / Underline / Line-through */
/*	dotted / dashed / wavy */
/*	text-decoration: dotted underline;*/
	text-decoration: wavy line-through;
	text-decoration-color: sandybrown;
	text-decoration-thickness: 5px;
/*	text-decoration: underline overline dotted #FF3028;*/
}

/* DEFINE a Class by using . / Multiple elements can be in the same class */
/* .CLASS{ */
.CLASS{
	padding: 20px;
	background-color: blanchedalmond;
	border-top: 10px solid blue;
	border-left: 10px dashed red;
	border-right: 10px dotted green;
	border-bottom: 10px solid snow;
	border-radius: 50px;
/*	border-radius: 100%;*/
	text-decoration: wavy overline #FF3028;
}

ol{
	/*	lower-alpha / upper-roman */
	list-style-type: lower-alpha;
	font-size: 20px;
	color: aquamarine;
	background-color: black;
	margin: 20px;
}

ul{
	/*	square / circle */
	list-style-type: square;
	font-size: 20px;
	color: aquamarine;
	background-color: black;
	margin: 20px;
}
